@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #F9B101;
    --secondary-color: #141414;
    --tertiary-color: #ffffff;
    --background-color: #f2f2f2;
    --rem: 16px;
}

body {
    background: var(--background-color);
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.6rem;
}

.navbar {
    background: var(--tertiary-color);
    padding: 2.4rem;

    .logo {
        text-decoration: none;
        font-weight: 400;
        color: var(--secondary-color);
        font-size: 2.4rem;

        span {
            font-weight: 600;
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;

    }
}

a {
    color: var(--secondary-color);
}

ul {
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    padding: 8rem 2.4rem 8rem 2.4rem;
}

.hero {
    text-align: center;
}

.left-col {
    h1{
        margin: 0;
        font-weight: 600;
        font-size: 4rem;
        line-height: 5.6rem;
    }

    .subhead {
        color: var(--secondary-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
    }

    .secondary-cta {
        border: .2rem solid var(--primary-color);
        border-radius: .8rem;
        padding: 1.6rem 6.4rem;
        color: var(--primary-color);
        text-decoration: none;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 3.2rem;
        display: inline-block;

        &:hover {
            border: .15rem solid var(--primary-color);
            border-radius: .8rem;
        }
    }

    .primary-cta {
        background: var(--primary-color);
        border-radius: .8rem;
        padding: 1.6rem 2.7rem;
        color: var(--tertiary-color);
        text-decoration: none;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 3.2rem;
        display: inline-block;

        &:hover {
            background: #FFD05E;
        }
    }

    .hero-cta {
        display: flex;
        place-content: space-evenly;
    }
}

.right-col {
    img {
    width: 70%;
    margin-top: 3.2rem;
    }
}

section.stats {
    padding-top: 0;
    text-align: center;

    .container {
        display: inline-block;
        place-content: space-evenly;

        .active-users {
            margin-bottom: 2.4rem;
        }

        .active-users,
        .active-nfts {
            display: block;
            place-content: space-between;
            font-size: 1.6rem;
            font-weight: 400;

            img {
                width: 4.8rem;
                height: 4.8rem;
                border-radius: 5rem;
                margin-bottom: 1.6rem;
            }

            .dp-neg-space {
                margin-left: -2.9rem;
            }

            p {
                margin: 0;
            }
        }
    }
}

section.display-nfts {
    padding-top:0;
    padding-bottom: 0;
    justify-content: center;

    .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(38.4rem, 1fr));
        grid-gap: 1.6rem;
    }
    
    .nft-card {
        cursor: pointer;
        position: relative;
        margin-bottom: 0;
        border-radius: .8rem;

        &:hover {
            zoom: 1.02;
        }

        img {
            width: 100%;
            height: 38.4rem;
            object-fit: cover;
            border-radius: .8rem;
        }

        .nft-detail {
            margin: 0;    
            position: absolute;
            bottom: 2.4rem;
            left: 2.4rem;
            color: var(--tertiary-color);

            p.nft-name {
                font-weight: 500;
                font-size: 2.4rem;
                line-height: 3.2rem;
                margin: 0;
                padding-bottom: .8rem;
            }
            
            p.nft-price {
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 2.4rem;
                margin: 0;
                padding-bottom: .8rem;
            }
            
            p.nft-owner {
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.4rem;
                margin: 0;
                opacity: 50%;
            }
            
        }
    }

    .nft-card::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 99%;

        top: 0;
        left: 0;
        border-radius: .8rem;
        background-image: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0.552083) 50%,);
        z-index: 1;
    }

    .nft-card > * {
        z-index: 100;
    }
    
}


.footer {
    display: grid;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 400;

    a.owner {
        text-decoration: none;
        font-weight: 600;
    }

    span.year {
        opacity: 50%;
    }
}


nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 66%;
    background: var(--tertiary-color);
    height: 100vh;
    padding: 1.6rem
}

ul {
    margin-top: 4.8rem;
}

li.current a {
    font-weight: 600;
}

li {
    a {
        text-decoration: none;
        display: block;
        padding: 1.6rem;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: right;

        &:hover {
            font-weight: 600;
        }
    }
}

li.user-profile {
    position: relative;
    margin-right: .8rem;

    a {
        padding-right: 4.8rem;
    }

    &:after {
        content: '';
        position: absolute;
        width: 3.2rem;
        height: 3.2rem;
        background: url(/images/placeholder.svg);
        background-size: contain;
        right: .8rem;
        top: 1rem;

    }
}

.mobile-menu-exit {
    float: right;
    cursor: pointer;
    margin: .8rem;
}

@media only screen and (min-width: 768px) {

    section.display-nfts {

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1.5fr);
            grid-auto-rows: auto;
            grid-gap: 1.6rem;
        }
    }

    .mobile-menu,
    .mobile-menu-exit {
        display: none;
    }

    .navbar.container {
        display: flex;
        grid-template-columns:auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        position: unset;
        background: none;
        height: auto;
        width: 100%;
        padding: 0;
        padding-left: 20rem;
    }

    ul {
        display: flex;
    }
    
    a {
        color: var(--secondary-color);
        font-size: 1.6rem;
        padding: .8rem 1.6rem;
    }

    ul.primary-nav {
        margin: 0;
    }

    ul.secondary-nav {
        margin: 0;
    }

    li.current a {
        font-weight: 600;
    }
    
}

.hero h1 {
    font-size: 4.8rem;
    line-height: 6.4rem;
}

.hero {
    p.subhead{
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}

.left-col {
    
    .secondary-cta {
        font-size: 2.4rem;
    }

    .primary-cta {
        font-size: 2.4rem;
    }
}


@media only screen and (min-width: 1080px) {

    section.display-nfts {

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            grid-gap: 1.6rem;
        }
    }

    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 12rem 12.8rem;
    }

    section.hero {
        padding: 9.6rem 12.8rem;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .left-col {
        margin: 3.2rem 3.2rem 0 1.6rem;
    }

    h1 {
        font-size: 6.4rem;
        line-height: 7.2rem;
    }

    .right-col {
        margin-left: 1.6rem;

        img {
            width: 100%;
            margin-right: 3.2rem;
            margin-top: 0;
        }
    }

    .left-col {
        .hero-cta {
            display: flex;
            justify-content: left;
        }

        
        .primary-cta {
            margin-left: 2.4rem;
        }
    
        .secondary-cta {
            margin-right: 2.4rem;
        }
    }

    section.stats {
        .container {
            display: flex;
            justify-content: space-evenly;

            .active-users,
            .active-nfts {
                display: flex;
                place-content: space-evenly;

                p {
                    margin-top: .8rem;
                    margin-bottom: .8rem;
                    line-height: 3.2rem;
                }

                div.dp {
                    margin-right: 1.6rem;
                }
            }
        }
    }

}    